name: Mule CICD Mule Maven Plugin

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Cache dependencies
      uses: actions/cache@v3
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-

    - name: Set up JDK 8
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: '8'

    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Stamp artifact with commit hash
      run: |
        artifactName=$(ls target/*.jar | head -1)
        commitHash=$(git rev-parse --short HEAD)
        mv $artifactName target/cicd-demo-$commitHash.jar

    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: artifacts
        path: target/*.jar

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Download artifact
      uses: actions/download-artifact@v3
      with:
        name: artifacts

    - name: Deploy to CloudHub
      env:
        ANYPOINT_USERNAME: ${{ secrets.ANYPOINT_USERNAME }}
        ANYPOINT_PASSWORD: ${{ secrets.ANYPOINT_PASSWORD }}
      run: |
        artifactName=$(ls *.jar | head -1)
        mvn mule:deploy \
        -DmuleDeploy \
        -Dartifact=$artifactName \
        -Dusername="$ANYPOINT_USERNAME" \
        -Dpassword="$ANYPOINT_PASSWORD" \
        -Denvironment="Sandbox" \
        -Dregion="us-east-1" \
        -Dworkers="1" \
        -DworkerType="MICRO" \
        -DapplicationName="cicd-demo-app"
